body {
  margin: 24px;
  font-family: 'Open Sans', monospace;
  font-size: 120%;
  color: #606c71;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 100%;
  font-weight: bold;
  color: #159957;
}

h2 {
  font-size: 100%;
  font-weight: normal;
  color: #159957;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h3 {
  font-size: 100%;
  font-weight: normal;
  font-style: italic;
  color: #159957;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

ul.horizontal {
  list-style-type: none;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1.5em;
  padding-right: 0px;
  margin-top: 12px;
  margin-bottom: 25px;
}

ul.horizontal li {
  display: inline;
}

ul.nav {
  font-size: 100%;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

ul.nav li {
  display: inline;
}

ul.post-list {
  padding-top: 0px;
  margin-top: 0.3em;
}

ul.post-list p {
  padding-top: 0em;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  color: #1e6bb8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #1e6bb8;
}

div.footer {
  margin-top: 10px;
  font-size: 75%;
}

code:not(.sourceCode) {
  font-family: 'Inconsolata';
  background-color: #f3f6fa;
  padding: 1px 3px;
  border-radius: 5px;
  overflow-x: auto;
}

pre.sourceCode {
  font-family: 'Inconsolata';
  font-size: 80%;
  background-color: #f3f6fa;
  border: 1px solid #ddd;
  padding: 6px 10px;
  border-radius: 5px;
  overflow-x: auto;
}
